.menu h1{
    font-size : 1.25em;
    margin : .25em 0 .1em 0;
}
.menu{
    text-transform: capitalize;
}
#menu a{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#sous-menu a{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
title{
    text-transform: capitalize;
}
#comment{
    color: darkgray;
    font-style: italic;
    background-color: rgba(255,255,255,0.25);
    border:1px grey dotted;
    border-radius: .5em;
    padding:5px;
}
legend{
    text-transform : capitalize;
}
#sous-menu h1{
    margin : 10px;
}
#contenu h1{
    margin:0;
}
.success .ui-widget-content{
    background: #DFD;
    border:1px solid #8F8;
    color: #2A2;
}
.success .ui-widget-header{
    background: #080;
    border:0;
    color: #fff;
}
.success .ui-button{
    background: #080;
    color: #fff;
}
.no-close .ui-dialog-titlebar-close {
    display: none;
}
.error .ui-widget-content{
    background: #FDD;
    border:1px solid #FDD;
    color: darkred;
}
.error .ui-widget-header{
    background: darkred;
    border:0;
    color: #fff;
}
.error .ui-button{
    background: darkred;
    color: #fff;
}
.error .ui-dialog-titlebar-close {
    display: none;
}
#profil{
    background-color: #444;
    padding:5px;
    border:1px solid white;
    border-radius: 5px 5px 5px;
    font-size: 1em;
    text-transform: none;
}
#profil #pp{
    text-align: center;
}
#profil fieldset #ctn{
    text-align: right;
}
#alerte{
    position: absolute;
    background-color: red;
    color: yellow;
    top:138px;
    left:232px;
    cursor: help;
}
.mdp-perdu{
    background-color: #408;
}
.membre{
    background-color: #040;
}
.activation{
    background-color: #020;
}
.reactivation{
    background-color: #204;
}
.sous-admin{
    background-color: #402;
}
.admin{
    background-color: #400;
}
td{
    border : 1px dotted grey;
    text-align: center;
    padding:.3em;
}
tr{
    background-color: white;
}
tr:hover{
    cursor : pointer;
    background-color: darkgray;
}
table{
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 5%;
    border: solid black 2px;
}
th{
    color: white;
    background-color: black;
    border-left:white dotted 1px;
    font-size:1.15em;
    padding: .4em;
    text-align: center;
}
.formError{
    color: red;
}